.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/backg.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 542px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 0 0 rgba(0,0,0,0);
  background-image: none;
  font-weight: normal;
  line-height: 39.6px;
  margin: 77px 20px 0 605px;
}

.u-section-1 .u-video-1 {
  height: 446px;
  width: 577px;
  margin: -398px auto -47px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 28.17% 16.15%;
    background-size: 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    line-height: 1.3;
    transition-duration: 1.5s;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-video-1 {
    height: 417px;
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-1 .u-video-1 {
    height: 263px;
    width: 340px;
  }
}

.u-section-1 .u-text-1:hover {
  text-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/backgggggggggggggg.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 14px 0 36px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 23px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  width: 320px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 8px;
}

.u-section-2 .u-text-2 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 23px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  width: 320px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 8px;
}

.u-section-2 .u-text-4 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 23px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  width: 320px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 8px;
}

.u-section-2 .u-text-6 {
  margin: 20px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 0;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 487px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1033px;
  margin: 0 92px 10px 15px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 481px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin: 102px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 15px 40px 0 0;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-style: normal;
  line-height: 25.6px;
  margin: 20px 32px 0 8px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 481px;
}

.u-section-3 .u-image-1 {
  width: 433px;
  height: 362px;
  margin: 73px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 451px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 421px;
    height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-3 .u-image-1 {
    width: 322px;
    height: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 558px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-3 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 351px;
    animation-duration: 1000ms;
    background-position: 100% 50%;
  }

  .u-section-3 .u-image-1 {
    margin-top: 15px;
    margin-left: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 466px;
}

.u-section-4 .u-text-1 {
  width: 544px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 544px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 53px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 224px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-4 .u-image-1 {
  width: 211px;
  height: 211px;
  margin: 13px auto 0 76px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-4 .u-image-2 {
  width: 211px;
  height: 211px;
  margin: 13px auto 0 76px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-4 .u-image-3 {
  width: 211px;
  height: 211px;
  margin: 13px auto 0 76px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 526px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  margin: 51px 55px 0 65px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 60px 0;
}

.u-section-5 .u-text-3 {
  margin: 5px 45px 0 75px;
}

.u-section-5 .u-text-4 {
  margin: 5px 65px 0 55px;
}

.u-section-5 .u-text-5 {
  margin: 9px 243px 0 107px;
}

.u-section-5 .u-text-6 {
  margin: 13px 8px 0 107px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-7 {
  margin: 13px 8px 0 107px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 131px;
  min-width: 68px;
  margin: 22px auto 0 115px;
}

.u-section-5 .u-text-8 {
  font-size: 0.75rem;
  margin: 33px 293px 0 107px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5 .u-map-1 {
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 15px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 20px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 77px;
    margin-right: 15px;
    margin-left: 5px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 70px;
    margin-right: 193px;
    margin-left: 57px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -73px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 163px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 130px;
    margin-top: -127px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 243px;
    margin-left: 57px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 71px;
    margin-right: 138px;
    margin-left: 2px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -74px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 164px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 188px;
    margin-left: 2px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 77px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 51px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -29px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 163px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 174px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: -179px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 131px;
    margin-top: -159px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-8 {
    width: 218px;
    margin-top: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 257px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 0;
  }
}